html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

[data-theme="light"], :root {
  color-scheme: light dark;

  --primary: rgba(0, 0, 0, 0.95);
  --secondary: rgba(0, 0, 0, 0.65);
  --tertiary: rgba(0, 0, 0, 0.4);
  --quaternary: rgba(0, 0, 0, 0.2);
  /*
  --system-gray: #8e8e93;
  --system-gray-rgb: 142, 142, 147;
  --system-gray-deep-pressed: #56565a;
  --system-gray-deep-pressed-rgb: 86, 86, 90;
  --system-gray-disabled: rgba(142, 142, 147, 0.35);
  --system-gray-pressed: #6f6f73;
  --system-gray-pressed-rgb: 111, 111, 115;
  --system-gray-rollover: #56565a;
  --system-gray-rollover-rgb: 86, 86, 90;
  --system-green: #28cd41;
  --system-green-rgb: 40, 205, 65;
  --system-red: #ff3b30;
  --system-red-rgb: 255, 59, 48;
  */
  --text-color-primary: rgba(0, 0, 0, 1);
  --text-color-secondary: rgba(60, 60, 67, 0.6);
  --text-color-tertiary: rgba(60, 60, 67, 0.3);
  --text-color-quaternary: rgba(60, 60, 67, 0.18);
  --text-color-rgb: 0, 0, 0;
  --text-color: rgba(var(--text-color-rgb), 0.95);
  --primary-color: #007aff;
  --primary-color-rgb: 0, 122, 255;
  /*
  --primary-color-rollover: #0045b7;
  --primary-color-rollover-rgb: 0, 69, 183;
  --primary-color-pressed: #005cd7;
  --primary-color-pressed-rgb: 0, 92, 215;
  --primary-color-deep-pressed: #0045b7;
  --primary-color-deep-pressed-rgb: 0, 69, 183;
  --primary-color-disabled: rgba(0, 122, 255, 0.35);
  --label-primary: rgba(0, 0, 0, 0.95);
  --label-secondary: rgba(60, 60, 67, 0.6);
  --label-tertiary: rgba(60, 60, 67, 0.3);
  --label-quaternary: rgba(60, 60, 67, 0.18);
  --label-divider: rgba(0, 0, 0, 0.15);
  --vibrant-primary: rgba(0, 0, 0, 0.95);
  --vibrant-secondary: rgba(60, 60, 67, 0.5);
  --vibrant-tertiary: rgba(60, 60, 67, 0.3);
  --vibrant-quaternary: rgba(60, 60, 67, 0.18);
  --vibrant-divider: rgba(60, 60, 67, 0.29);
  */
  --search-border: rgba(0, 0, 0, 0.15);
  --search-icon-drop-shadow: rgba(0, 0, 0, 0.15);
  --search-hints-bg: rgba(232, 232, 232, 0.9);
  --search-hints-bg-hover: rgba(201, 204, 203, 0.9);
  --sidebar: rgba(60, 60, 67, 0.03);
  --sidebar-border-rule: rgba(0, 0, 0, 0.1);
  --sidebar-selected-state: rgba(60, 60, 67, 0.1);
}

[data-theme="dark"] {
  --primary: rgba(255, 255, 255, 0.85);
  --secondary: rgba(255, 255, 255, 0.55);
  --tertiary: rgba(255, 255, 255, 0.25);
  --quaternary: rgba(255, 255, 255, 0.1);
  /*
  --system-gray: #98989d;
  --system-gray-rgb: 152, 152, 157;
  --system-gray-deep-pressed: #d5d5da;
  --system-gray-deep-pressed-rgb: 213, 213, 218;
  --system-gray-disabled: rgba(152, 152, 157, 0.5);
  --system-gray-pressed: #c6c6cb;
  --system-gray-pressed-rgb: 198, 198, 203;
  --system-gray-rollover: #d5d5da;
  --system-gray-rollover-rgb: 213, 213, 218;
  --system-green: #32d74b;
  --system-green-rgb: 50, 215, 75;
  --system-red: #ff453a;
  --system-red-rgb: 255, 69, 58;
  */
  --text-color-primary: rgba(255, 255, 255, 1);
  --text-color-secondary: rgba(235, 235, 245, 0.6);
  --text-color-tertiary: rgba(235, 235, 245, 0.3);
  --text-color-quaternary: rgba(235, 235, 245, 0.16);
  --text-color-rgb: 255, 255, 255;
  --text-color: rgba(var(--text-color-rgb), 0.95);
  --primary-color: #0a84ff;
  --primary-color-rgb: 10, 132, 255;
  --primary-color-rollover: #47c1ff;
  --primary-color-rollover-rgb: 71, 193, 255;
  --primary-color-pressed: #38b2ff;
  --primary-color-pressed-rgb: 56, 178, 255;
  --primary-color-deep-pressed: #47c1ff;
  --primary-color-deep-pressed-rgb: 71, 193, 255;
  --primary-color-disabled: rgba(10, 132, 255, 0.5);
  --label-primary: rgba(255, 255, 255, 0.95);
  --label-secondary: rgba(235, 235, 245, 0.6);
  --label-tertiary: rgba(235, 235, 245, 0.3);
  --label-quaternary: rgba(235, 235, 245, 0.18);
  --label-divider: rgba(255, 255, 255, 0.1);
  --vibrant-primary: rgba(255, 255, 255, 0.95);
  --vibrant-secondary: rgba(235, 235, 245, 0.6);
  --vibrant-tertiary: rgba(235, 235, 245, 0.3);
  --vibrant-quaternary: rgba(235, 235, 245, 0.18);
  --vibrant-divider: rgba(235, 235, 245, 0.19);
  --sidebar: rgba(235, 235, 245, 0.03);
  --sidebar-border-rule: rgba(255, 255, 255, 0.1);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1f1f1f !important;
  }
}
